interactions:
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=BaW_jenozKc&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtPdElUcGw5Wld6SSiV-O2UBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GFEEDBACK\",\n
        \       \"params\": [\n          {\n            \"key\": \"is_viewed_live\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"logged_in\",\n            \"value\": \"0\"\n          },\n          {\n
        \           \"key\": \"e\",\n            \"value\": \"24222539,9406003,23843508,24210094,23888716,24213360,24036947,24199724,24221830,24082662,24185614,24215196,24189951,24223695,24149832,24187377,24219713,24570085,24123943,24080738,24063124,23744176,24164186,9479112,24212037,23998056,24199774,24007246,23918597,24135310,24004644,24225255,24021124,2[...]
