interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/c/PhilippHagemeister/videos
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://consent.youtube.com/m?continue=https%3A%2F%2Fwww.youtube.com%2Fc%2FPhilippHagemeister%2Fvideos%3Fcbrd%3D1&gl=IT&m=0&pc=yt&uxe=eomty&hl=en&src=1
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://consent.youtube.com/m?continue=https%3A%2F%2Fwww.youtube.com%2Fc%2FPhilippHagemeister%2Fvideos%3Fcbrd%3D1&gl=IT&m=0&pc=yt&uxe=eomty&hl=en&src=1
  response:
    body:
      string: ''
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/binary
      Location:
      - https://www.youtube.com/c/PhilippHagemeister/videos?cbrd=1&ucbcb=1
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/c/PhilippHagemeister/videos?cbrd=1&ucbcb=1
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\" system-icons typography typography-spacing><head><meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/><meta http-equiv=\"origin-trial\"
        content=$newtonOriginTrialToken /><script nonce=\"K3vpZflkeRIQs7EauMsZvw\">var
        ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else
        for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',
        '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20220602.00.00');</script><script
        nonce=\"K3vpZflkeRIQs7EauMsZvw\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var
        err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var
        message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var
        img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete
        window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var
        stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled
        window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var
        thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\"||stack.indexOf(\"extension://\")>=0;var
        replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\ntrue;else
        if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else
        if(message.indexOf(\"redefine non-configurable\")>=0)thirdPartyScript=true;var
        baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ERROR\");var[...]
- request:
    body: '{"continuation": "4qmFsgJ_EhhVQ0xxeFZ1Z3Y3NEVJVzNWV2gyTk9hM1EaNEVnWjJhV1JsYjNNWUF5QUFNQUU0QWVvREZFVm5jMGx2VERaWWQwcFFjakp5YlUxQlUyZDWaAixicm93c2UtZmVlZFVDTHF4VnVndjc0RUlXM1ZXaDJOT2EzUXZpZGVvczEwMg%3D%3D",
      "context": {"client": {"clientName": "WEB", "clientVersion": "2.20200720.00.02"}}}'
    headers:
      Content-Type:
      - application/json
      X-Youtube-Client-Name:
      - '1'
      X-Youtube-Client-Version:
      - 2.20200720.00.02
    method: POST
    uri: https://www.youtube.com/youtubei/v1/browse?key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtXS1hhWndoQ3dfVSjl5e2UBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GFEEDBACK\",\n
        \       \"params\": [\n          {\n            \"key\": \"route\",\n            \"value\":
        \"channel.videos\"\n          },\n          {\n            \"key\": \"is_casual\",\n
        \           \"value\": \"true\"\n          },\n          {\n            \"key\":
        \"is_owner\",\n            \"value\": \"false\"\n          },\n          {\n
        \           \"key\": \"is_monetization_enabled\",\n            \"value\":
        \"false\"\n          },\n          {\n            \"key\": \"num_shelves\",\n
        \           \"value\": \"0\"\n          },\n          {\[...]
[...]
