interactions:
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=BaW_jenozKc&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"Cgswd3BWN09lS1JYdyjp5e2UBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GFEEDBACK\",\n
        \       \"params\": [\n          {\n            \"key\": \"is_viewed_live\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"logged_in\",\n            \"value\": \"0\"\n          },\n          {\n
        \           \"key\": \"e\",\n            \"value\": \"24187043,23882503,24212885,23934970,24165080,24169501,24211628,24191629,24085811,24001373,9407156,24163012,24211178,24120819,24167177,24077266,24202005,24181174,24034168,24187516,23966208,24570084,24140247,24117491,24186508,24185349,24200175,24198739,23918597,24164186,24063124,24123943,23744176,[...]
