interactions:
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=BaW_jenozKc&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtUSVhOdnhfa0FYbyj7yfOUBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GFEEDBACK\",\n
        \       \"params\": [\n          {\n            \"key\": \"is_viewed_live\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"logged_in\",\n            \"value\": \"0\"\n          },\n          {\n
        \           \"key\": \"e\",\n            \"value\": \"24140247,24199774,24080738,24135310,24170045,24219713,23744176,24094856,23983296,23918597,24007246,23826897,23998056,1714241,24212037,24123943,24004644,24201179,24063124,24074379,24077241,24215196,24199724,24215112,24021124,24085811,23888716,24082662,24036947,24207896,24228193,24213360,24185614,[...]
