interactions:
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=BaW_jenozKc&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"Cgs1WGRPZ3dTRUhhcyiRh_iUBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GFEEDBACK\",\n
        \       \"params\": [\n          {\n            \"key\": \"is_viewed_live\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"logged_in\",\n            \"value\": \"0\"\n          },\n          {\n
        \           \"key\": \"e\",\n            \"value\": \"24077266,24152023,24200175,24213358,23744176,24198739,24220515,24036948,24149832,24085811,24007246,23983296,24135310,9405992,24211178,24082661,24021124,24228203,24004644,24183971,24123943,24187377,24191629,24202006,24164186,24211628,24219459,24212885,23934970,24185614,23998056,24570085,24092367,[...]
