interactions:
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=BaW_jenozKc&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"Cgs0eEVhVmN2NjJxdyiRh_iUBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GFEEDBACK\",\n
        \       \"params\": [\n          {\n            \"key\": \"is_viewed_live\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"logged_in\",\n            \"value\": \"0\"\n          },\n          {\n
        \           \"key\": \"e\",\n            \"value\": \"23744176,24219713,24080738,23918597,24199774,24001373,24063124,24077241,24074379,24212037,24120819,24021124,23946420,23888716,24215196,24199724,23966208,24164186,24210094,24117491,24187377,24189951,23748146,24036947,24185614,24140247,24570084,24224266,24187043,23934970,23983296,24211178,24123943[...]
